asgiref==3.8.1
autopep8==2.0.4
Brotli==1.1.0
crispy-bootstrap5==2024.10
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1
django-crispy-forms==2.3
djangorestframework==3.15.2
filelock==3.16.1
mysql==0.0.3
mysqlclient==2.2.4
packaging==23.2
pillow==11.0.0
platformdirs==4.3.6
psycopg2==2.9.10
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pytz==2023.3.post1
sqlparse==0.4.4
toml==0.10.2
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.27.1
whitenoise==6.6.0
gunicorn
